---
import { Image } from "astro:assets";
import LogoITIC from "../../public/assets/ITIC-LOGOs/logo horitzontal Institut TIC de Barcelona (Color).png";
import LogoBePro from "../../public/assets/Icons-web/logo_be_pro_color_8_4x-1024x320.png";
import LogoConcorsi from '../../public/assets/Icons-web/logo_CEB.png';
import LogoInstagram from '../../public/assets/Icons-web/Instagram_logo_2016.svg';
import LogoLinkedin from '../../public/assets/Icons-web/LinkedIn_icon.svg';
import LogoTwitter from '../../public/assets/Icons-web/Twitter-Logo.svg';
import FPDual from '../../public/assets/Icons-web/FP-DUAL.jpg';
import MobilitatFP from '../../public/assets/Icons-web/MobilitatFP.png';
import Erasmus from '../../public/assets/Icons-web/erasmus_iticbcn-1-1024x415.jpg';
---

<footer class="footer">
    <div class="footer-top">
        <div class="logo-container">
            <a href="/">
                <Image src={LogoITIC} alt={"Logo del centro escolar ITIC"} />
            </a>
            <a href="https://fp.edubcn.cat/xarxes-bepro">
                <Image src={LogoBePro} alt={"Logo BePro"} />
            </a>
            <a href="https://fp.edubcn.cat/xarxes-bepro">
                <Image src={LogoConcorsi} alt={"Logo Concorcisi"} />
            </a>
            <a href="https://triaeducativa.gencat.cat/ca/fp/cataleg-serveis/fp-dual/">
                <Image src={FPDual} alt={"Logo FPDual"} />
            </a>
            <a href="https://projectes.xtec.cat/mobilitatfp/">
                <Image src={MobilitatFP} alt={"Logo MobilitatFP"} />
            </a>
            <a href="https://erasmus-plus.ec.europa.eu/es">
                <Image src={Erasmus} alt={"Logo Erasmus-iticbcn"} />
            </a>
        </div>
    </div>

    <div class="footer-container">
        <div class="footer-section links-section">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/estudios">Estudios</a></li>
                <li><a href="/Erasmus">Erasmus+</a></li>
                <li><a href="/Contacto">Contacto</a></li>
                <li><a href="https://app.dinantia.com/login">Dinantia</a></li>
                <li><a href="https://educaciodigital.cat/iticbcn/moodle/login/index.php">Moodle</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <p><strong>Teléfono:</strong> 935128822</p>
            <p><strong>Email:</strong> oficines@iticbcn.cat</p>
            <p><strong>Dirección:</strong> C/ Sancho de Ávila, 131, 08018 Barcelona</p>
        </div>
        <div class="footer-section">
            <h3>Xarxes</h3>
            <div class="social-icons">
                <a href="https://www.instagram.com/iticbcn/?igsh=ZWdzZmwzaWM0M3Rk">
                    <Image src={LogoInstagram} alt={"Logo Instagram"} />
                </a>
                <a href="https://www.linkedin.com/school/iticbcn/">
                    <Image src={LogoLinkedin} alt={"Logo Linkedin"} />
                </a>
                <a href="">
                    <Image src={LogoTwitter} alt={"Logo Twitter"} />
                </a>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <p>
            <a target="_blank" href="http://web.gencat.cat/ca/menu-ajuda/ajuda/avis_legal/">Avís legal</a> |
            <span class="copyright">©2024 Generalitat de Catalunya | </span>
            <span>© 2024 Instituto Tecnológico de Barcelona | </span>
            <span class="site-source">Fet per <a target="_blank" href="https://github.com/4Tipy">Leonardo Chavez</a> i <a target="_blank" href="https://github.com/lcastienc">Luis Castillo</a></span>
        </p>
    </div>
</footer>

<style>
    .footer {
        margin-top: 5%;
        background-color: #f2ecec;
        padding: 20px 0;
        color: black;
    }

    .footer-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 20px;
    }

    .footer-container > div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-section {
        flex: 1 1 30%;
        margin-bottom: 20px;
    }

    .footer-section ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .footer-section ul li {
        margin-bottom: 10px;
    }

    .footer-section ul li a {
        text-decoration: none;
        color: black;
        padding: 5px 10px;
        display: block;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .footer-section ul li a:hover {
        background-color: #e0e0e0;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #ddd;
    }

    .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-wrap: wrap;
        padding: 20px 0;
    }

    .logo-container a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 50px;
        margin: 10px;
    }

    .logo-container img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .social-icons {
        display: flex;
        gap: 10px;
    }

    .social-icons a {
        width: 30px;
        height: 30px;
    }

    .social-icons img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
</style>
